<div
        class="geminid"
        style="
            --angle: 294;
            --speed: 5;
            --delay: 743;
            --x: 27;
            --y: 27;
            --travel: 3;
            --trail: 4;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 301;
            --speed: 6;
            --delay: 431;
            --x: 33;
            --y: 27;
            --travel: 16;
            --trail: 3;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 285;
            --speed: 4;
            --delay: 619;
            --x: 31;
            --y: 23;
            --travel: 6;
            --trail: 4;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 277;
            --speed: 10;
            --delay: 29;
            --x: 35;
            --y: 28;
            --travel: 16;
            --trail: 4;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 278;
            --speed: 6;
            --delay: 59;
            --x: 41;
            --y: 21;
            --travel: 8;
            --trail: 2;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 280;
            --speed: 10;
            --delay: 797;
            --x: 32;
            --y: 26;
            --travel: 14;
            --trail: 3;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 302;
            --speed: 2;
            --delay: 31;
            --x: 55;
            --y: 22;
            --travel: 12;
            --trail: 3;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 334;
            --speed: 5;
            --delay: 23;
            --x: 23;
            --y: 21;
            --travel: 2;
            --trail: 3;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 293;
            --speed: 5;
            --delay: 53;
            --x: 33;
            --y: 29;
            --travel: 6;
            --trail: 2;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 316;
            --speed: 5;
            --delay: 97;
            --x: 79;
            --y: 40;
            --travel: 5;
            --trail: 2;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 323;
            --speed: 3;
            --delay: 89;
            --x: 81;
            --y: 17;
            --travel: 11;
            --trail: 4;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 306;
            --speed: 2;
            --delay: 71;
            --x: 32;
            --y: 20;
            --travel: 13;
            --trail: 3;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 313;
            --speed: 10;
            --delay: 73;
            --x: 45;
            --y: 12;
            --travel: 5;
            --trail: 4;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 294;
            --speed: 4;
            --delay: 37;
            --x: 52;
            --y: 65;
            --travel: 18;
            --trail: 4;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 12;
            --speed: 7;
            --delay: 1283;
            --x: 48;
            --y: 83;
            --travel: 13;
            --trail: 2;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 310;
            --speed: 20;
            --delay: 830;
            --x: 59;
            --y: 32;
            --travel: 1;
            --trail: 2;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 320;
            --speed: 10;
            --delay: 89;
            --x: 89;
            --y: 23;
            --travel: 3;
            --trail: 2;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 317;
            --speed: 20;
            --delay: 101;
            --x: 78;
            --y: 51;
            --travel: 6;
            --trail: 4;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 319;
            --speed: 4;
            --delay: 139;
            --x: 31;
            --y: 63;
            --travel: 13;
            --trail: 3;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 304;
            --speed: 4;
            --delay: 149;
            --x: 71;
            --y: 35;
            --travel: 15;
            --trail: 4;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 316;
            --speed: 8;
            --delay: 211;
            --x: 62;
            --y: 45;
            --travel: 15;
            --trail: 4;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 339;
            --speed: 8;
            --delay: 311;
            --x: 41;
            --y: 66;
            --travel: 7;
            --trail: 4;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 289;
            --speed: 8;
            --delay: 179;
            --x: 102;
            --y: 22;
            --travel: 4;
            --trail: 4;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 282;
            --speed: 20;
            --delay: 131;
            --x: 35;
            --y: 59;
            --travel: 9;
            --trail: 4;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 346;
            --speed: 10;
            --delay: 401;
            --x: 63;
            --y: 33;
            --travel: 23;
            --trail: 2;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 321;
            --speed: 5;
            --delay: 457;
            --x: 45;
            --y: 21;
            --travel: 23;
            --trail: 4;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 20;
            --speed: 9;
            --delay: 569;
            --x: 31;
            --y: 31;
            --travel: 20;
            --trail: 4;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 328;
            --speed: 15;
            --delay: 977;
            --x: 78;
            --y: 21;
            --travel: 11;
            --trail: 2;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 310;
            --speed: 10;
            --delay: 769;
            --x: 25;
            --y: 14;
            --travel: 8;
            --trail: 4;
        "
    >
        <div class="geminid__trail"></div>
    </div>
    <div
        class="geminid"
        style="
            --angle: 331;
            --speed: 7;
            --delay: 1459;
            --x: 43;
            --y: 84;
            --travel: 7;
            --trail: 3;
        "
    >
        <div class="geminid__trail"></div>
    </div>