---
layout: default
title: Blog
---
<link rel="stylesheet" type="text/css" href="/Assets/styles/footerbloglist.css" />
<link rel="stylesheet" type="text/css" href="Assets/styles/footerbloglist.css" />
<h1 id="BLOGhead">BLOG</h1>

<ul>
  {% for post in site.posts %}
  <div style="cursor:pointer;" class="blog-card">
    <div class="meta">
      <img class="photo" src="{{post.thumbnail}}">
      <ul class="details">
        <li class="author"><a href="#">{{ post.author }}</a></li>
        <li class="date">{{ post.date }}</li>
      </ul>
    </div>
      <div class="description">
        <h1>{{ post.title }}</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.
           {{ post.excerpt }}</p>
        <p class="read-more">
          <a href="{{ post.url }}">Read More</a>
        </p>
      </div>
    </li>
  </div>

  {% endfor %}
</ul>


