---
layout: default
---
<div id="ham">
    <div id="rectangle1" class="rectanglebig rectangle"></div>
    <div id="rectangle2" class="rectangle"></div>
    <div id="rectangle3" class="rectangle"></div>
    <div id="rectangle4" class="rectangle"></div>
    <div id="rectangle5" class="rectangle"></div>
    <div id="rectangle6" class="rectangle"></div>
</div>
<div class="back">
    {% include_relative components/stars.html %}
    {% include_relative components/meteors.html %}
    {% include_relative components/earth.html %}
</div>
<div id="title-text">
    <div id="linea">BEYOND THE</div>
    <div id="lineb">HORIZON</div>
    <div id="linec">ASTRO CLUB, BITS PILANI</div>
</div>
<button data-tilt id="explore" class="bg myBtn" style="display: none;">
    <!--For animation-->
    <div class="btntext">
        Explore!
    </div>
</button>

<div id="social" class="wrapper" style="display: none;">
    <ul>
        <li class="instagram">
            <a href="#">
                <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
            </a>
        </li>
        <li class="facebook">
            <a href="#">
                <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</div>

<script>
    $('#explore').delay(3000).fadeIn(1000)
    $('#social').delay(3000).fadeIn(1000)
</script>
<div class="section-2">
    <div class="image-container-1">
        <img src="Assets/images/component (1).png" alt="meteor">
    </div>
    <div class="text-container">
        <div class="circle-text">
            <div class="circle"></div>
            <h1 class="text">What do we do?</h1>
        </div>
        <p>Astro Club, BITS Pilani’s oﬃcial Astronomy Club, is a group of enthusiasts with a keen interest in astronomy and
        astrophysics. Students and faculty part of this group work to promote astronomy and spread knowledge among the students.</p>
        <button data-tilt class="myBtn2" class="bg">
            <div class="btntext">
                Contact
            </div>
        </button>
        <button data-tilt class="myBtn2 btn2" class="bg">
            <div class="btntext">
                Sponsor Us		
            </div>
        </button>
    </div>
</div>

<div class="section-3">
    <img src="./Assets/images/component.png" alt="component">
    <div class="content-3">
        <div class="circle"></div>
        <h1>Observations</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi dolor cum quod neque et! Sed placeat perspiciatis
            excepturi, quasi perferendis temporibus, exercitationem ipsa dicta inventore odio eius laborum repudiandae
            repellat.</p>
        <button data-tilt class="myBtn2 btn2" class="bg">
            <div class="btntext">
                Read More
            </div>
        </button>
    </div>
</div>
<div class="section-4">
    <div class="circle"></div>
    <h1>Our Blogs</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
    
    <div class="bloglist">

        {% for post in site.posts limit:4 %}
          <a data-tilt class="blogbox" href="{{ post.url }}">
            <span class="blogtitle">{{ post.title }}</span>
            <img class="blogthumbnail" src="{{post.thumbnail}}">
          </a>
        {% endfor %}
      
    </div>
    <button data-tilt class="myBtn2 btn2" class="bg">
        <div class="btntext">
            Show More
        </div>
    </button>
</div>




