---
layout: default
---
<div id="ham">
    <div id="rectangle1" class="rectanglebig rectangle"></div>
    <div id="rectangle2" class="rectangle"></div>
    <div id="rectangle3" class="rectangle"></div>
    <div id="rectangle4" class="rectangle"></div>
    <div id="rectangle5" class="rectangle"></div>
    <div id="rectangle6" class="rectangle"></div>
</div>
<div class="back">
    <div class="backdrop"></div>
    {% include_relative components/stars.html %}
    {% include_relative components/meteors.html %}
    {% include_relative components/earth.html %}
</div>
<div id="title-text">
    <div id="linea">BEYOND THE</div>
    <div id="lineb">HORIZON</div>
    <div id="linec">ASTRO CLUB, BITS PILANI</div>
</div>
<button data-tilt id="explore" class="bg myBtn" style="display: none;">
    <!--For animation-->
    <div class="btntext">
        Explore!
    </div>
</button>

<div id="social" class="wrapper" style="display: none;">
    <ul>
        <li class="instagram">
            <a href="#">
                <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
            </a>
        </li>
        <li class="facebook">
            <a href="#">
                <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</div>

<script>
    $('#explore').delay(3000).fadeIn(1000)
    $('#social').delay(3000).fadeIn(1000)
</script>
<div class="section-2">
    <div class="image-container-1">
        <img src="Assets/images/component (1).png" alt="meteor">
    </div>
    <div class="text-container">
        <div class="circle-text">
            <div class="circle"></div>
            <h1 class="text">What do we do?</h1>
        </div>
        <p>{{site.data.landing.section2.text}}</p>
        <button data-tilt class="myBtn2" class="bg">
            <div class="btntext">
                Contact
            </div>
        </button>
        <button data-tilt class="myBtn2 btn2" class="bg">
            <div class="btntext">
                Sponsor Us		
            </div>
        </button>
    </div>
</div>

<div class="section-3">
    <img src="Assets/images/telescope.jpg" alt="component">
    <div class="content-3">
        <div class="circle"></div>
        <h1>Observations</h1>
        <p>{{site.data.landing.section3.text}}</p>
        <button data-tilt class="myBtn2 btn2" class="bg">
            <div class="btntext">
                Read More
            </div>
        </button>
    </div>
</div>

<div class="section-4">
    <div class="centerer">
        <div class="circle"></div>
    </div>
    <div class="centerer">
        <h1>Our Blogs</h1>
    </div>
    <div class="centerer">
    <p>{{site.data.landing.section4.text}}</p>
    </div>
    <div class="centerer">
    <div class="bloglist">

        {% for post in site.posts limit:4 %}
          <a data-tilt class="blogbox" href="{{ post.url }}">
            <span class="blogtitle">{{ post.title }}</span>
            <img class="blogthumbnail" src="{{post.thumbnail}}">
          </a>
        {% endfor %}
      
    </div>
    </div>
    <div class="centerer">
        <button data-tilt class="myBtn2 btn2" class="bg">
            <div class="btntext">
                Show More
            </div>
        </button>
    </div>

</div>

<div class="section-5">
    <img src="Assets/images/Nebula BG@2x.png" alt="">
    <div id="section5content">
    <div class="circle"></div>
    <h1>Events</h1>
    <p class="text-0">{{site.data.landing.section5.text}}</p>
    <p class="number-1">01</p>
    <p class="heading-1">{{site.data.landing.section5.event1.title}}</p>
    <p class="text-1">{{site.data.landing.section5.event1.text}}</p>
    <p class="number-2">02</p>
    <p class="heading-2">{{site.data.landing.section5.event2.title}}</p>
    <p class="text-2">{{site.data.landing.section5.event2.text}}</p>
    <p class="number-3">03</p>
    <p class="heading-3">{{site.data.landing.section5.event3.title}}</p>
    <p class="text-3">{{site.data.landing.section5.event3.text}}</p>
    <p class="number-4">04</p>
    <p class="heading-4">{{site.data.landing.section5.event4.title}}</p>
    <p class="text-4">{{site.data.landing.section5.event4.text}}</p>
    <p class="number-5">05</p>
    <p class="heading-5">{{site.data.landing.section5.event5.title}}</p>
    <p class="text-5">{{site.data.landing.section5.event5.text}}</p>
    </div>
</div>

<div class="section-6">
    <div class="drop"></div>
    <img src="Assets/images/nebula-2.png" alt="nebula">
    <div class="circle"></div>
    <h1>Projects</h1>
    <p>{{site.data.landing.section6.text}}</p>
    <button data-tilt class="myBtn2 btn2" class="bg">
        <div class="btntext">
            View All
        </div>
    </button>
</div>

